nav{
    margin-bottom: 0px;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(75, 152, 75);
    padding: 0;
    margin: 0;
}
li{
    float: left;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.logo{
    font-size: 27px;
    margin-top: 2px;
}
.image{
    position: relative;
    text-align: center;
    color: black;
}
.bottom{
    position: absolute;
    left: 16px;
    bottom: 7px;
    text-align: left;
    font-size: 1.6cm;
    background: linear-gradient(to right, rgb(99, 15, 15),rgb(236, 236, 231));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
body{
    background-color: rgb(39, 37, 37);
}
.firstdiv{
    border-color: rgb(66, 61, 61);
    border-style: solid;
}
.christmas{
    color: rgb(231, 213, 184);
    font-size: 0.6cm;
    text-align: center;
}
.link{
    text-decoration: none;
    color: black;
}
.back{
    width: 100%;
    height: 450px;
}
