nav{
    margin-bottom: 0px;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(75, 152, 75);
    padding: 0;
    margin: 0;
}
li{
    float: left;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.logo{
    font-size: 27px;
    margin-top: 2px;
}
.intro{
    margin-top: 0px;
    background-image: url(image/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 250px;
    font-size: 1.3cm;
    
}
body{
    background-color: rgb(39, 37, 37);
}
.firstdiv{
    border-color: rgb(66, 61, 61);
    border-style: solid;
}
.christmas{
    color: rgb(231, 213, 184);
    font-size: 0.6cm;
    text-align: center;
}
.link{
    text-decoration: none;
    color: black;
}
