nav{
    margin-bottom: 0px;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(75, 152, 75);
    padding: 0;
    margin: 0;
}
li{
    float: left;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.logo{
    font-size: 27px;
    margin-top: 2px;
}
.image{
    position: relative;
    text-align: center;
    color: black;
}
.bottom{
    position: absolute;
    left: 16px;
    bottom: 7px;
    text-align: left;
    font-size: 1.6cm;
    background: linear-gradient(to bottom,rgb(236, 236, 231), rgb(99, 15, 15));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
body{
    background-color: rgb(39, 37, 37);
}
.firstdiv{
    border-color: rgb(66, 61, 61);
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.christmas{
    color: rgb(231, 213, 184);
    font-size: 0.6cm;
    text-align: center;
}
.link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.link:hover{
    color: aliceblue;
}
.back{
    width: 100%;
    height: 450px;
}
.recipes{
    width: 250px;
    height: 300px;
    padding:5px ;

}
.item{
border: solid rgb(79, 79, 79);
margin: 5px;
.item:hover{
    border: solid rgb(101, 99, 99);
    
}
}
.alt{
    text-align: center;
    color: beige;
}
.vagantext{
    position: absolute;
    left: 16px;
    bottom: 7px;
    text-align: right;
    font-size: 1.6cm;
}
