body{
                background-color: rgb(73, 71, 71);
                color: aliceblue;
                font-family: Ink free;
            }
            .link{
                text-decoration: none;
                color: rgb(228, 116, 208);
                font-size: large;
            }
            .social{
                font-size: larger;
            }
            .catch{
                font-size: 0.7cm;
                text-decoration: underline;
                color: cornflowerblue;
            }
            .link:hover{
                color: blueviolet;
            }
            .firstpic{
                margin-right: 20px;
                height: 300px;
                width: 230px;
                margin-top: 5px;
                float: right;
            }
            
            .navbar{
                padding: 5px;
                text-align: center;
                background-color: rgb(146, 160, 197);
            }
            .sectitle{
                text-decoration: underline;
                color: cornflowerblue;
            }
            .order{
                text-decoration: none;
                color: aliceblue;
            }
            .order:hover{
                color: blueviolet;
            }
            table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: azure;
}
.pic{
    width: 120px;
}
.content{
    text-align: center;
}

